<div class="row">
  <div class="<%= col(12) %>">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend><%= t(:resend_confirmation) %></legend>

        <div class="form-group">
          <%= f.label :email, class: "#{col(3)} control-label" %>
          <div class="<%= col(9) %>">
            <%= f.email_field :email, class: 'form-control', autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="<%= col(9) %> <%= offset(3) %>">
            <%= f.submit t(:resend), class: 'btn btn-default', data: { disable_with: t(:sending) } %>
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>

