<div class="row">
  <div class="<%= col(12) %>">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend><%= t(:sign_in) %></legend>

        <div class="form-group">
          <%= f.label :login %>
          <%= f.text_field :login, class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        </div>

        <div class="form-group">
          <%= f.submit t(:sign_in), class: 'btn btn-default', data: { disable_with: t(:sending) } %>
          <%= render "devise/shared/links" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

